/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "";
    src: url("") format("woof2"),
         url("") format("woof");
}

/* ******************************** */

/* Colores */

/* ******************************** */

/* HTML le da a todas las etiquetas hijo todas estas propiedades */
html{
    /* color del texto */
    color: #fff;
    /* tipo de tipografía */
    font-family: sans-serif;
    /* texto negrita */
    font-weight: bold;
    /* tamaño del texto */
    font-size: 20px;
}